<ngx-spinner bdColor = "rgba(255, 255, 255, 1)" size = "medium" color = "#8743df" type = "ball-beat" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<!-- <div style="height: 0px">
   <p-scrollTop></p-scrollTop>
 
   <p-scrollPanel [style]="{width: 'px', height: '0px'}">
     
   
   </p-scrollPanel>
 </div> -->

<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">
       <div class="section-title">
          <h2 class="py-2">Service</h2>
          <p>Our Proffesional Service</p>
          <h6 class="pt-3">Through Fawater, you can create invoices and issue them to your customers <br> via a direct link or by printing them as a pdf file.</h6>
       </div>
       <div class="row">
          <div class="col-lg-4 col-md-6">
             <div class="member" data-aos="zoom-in" data-aos-delay="100">
                <img src="../../../../assets/bg-image/features-2.png" class="img-fluid" alt="">
                <div class="member-info">
                   <div class="member-info-content">
                      <h4>Create an account <i class="fa-solid fa-circle-plus fa-fade"></i></h4>
                      <span>Create a new account, <br> and then activate it by your mobile number or email.</span>
                   </div>
           
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="member" data-aos="zoom-in" data-aos-delay="200">
                <img src="../../../../assets/bg-image/features-3.png" class="img-fluid" alt="">
                <div class="member-info">
                   <div class="member-info-content">
                      <h4>Adding clients <i class="fa-solid fa-user-plus fa-fade"></i></h4>
                      <span>Add a list of your customers <br> through the control panel after activating your account.</span>
                   </div>
                 
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6">
             <div class="member" data-aos="zoom-in" data-aos-delay="300">
                <img src="../../../../assets/bg-image/features.png" class="img-fluid" alt="">
                <div class="member-info">
                   <div class="member-info-content">
                      <h4>Create invoices <i class="fa-regular fa-address-book fa-fade"></i></h4>
                      <span>Create invoices for your customers, <br> then print and send them to them.</span>
                   </div>
               
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>