<ngx-spinner bdColor = "rgba(255, 255, 255, 1)" size = "medium" color = "#8743df" type = "ball-beat" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="authincation h-100">
        <div class="container vh-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<h2>Fatorhtak</h2>
									</div>
                                    <h4 class="text-center mb-4">Forgot Password</h4>
                                    <form [formGroup]="ForgetPassword" (ngSubmit)="submitForget(ForgetPassword)">
                                        <div class="form-group">
                                            <label for="name"><strong>User Name</strong></label>
                                            <input    id="name"
                                            formControlName="user_name"
                                              class=" form-control " 
                                              placeholder="User Name"
                                              type="text">

                                              <div *ngIf="ForgetPassword.get('user_name')?.errors != null && ForgetPassword.get('user_name')?.touched" class=" alert alert-danger my-2">
                                                <p  *ngIf="ForgetPassword.get('user_name')?.errors?.required" class=" my-2"> User Name Is Requierd</p>
                                                <p *ngIf="ForgetPassword.get('user_name')?.errors?.minlength"  class="my-2 text-danger">The name must be at least 3 characters</p>
                                                <p *ngIf="ForgetPassword.get('user_name')?.errors?.maxlength"  class="my-2 text-danger"> The name must not exceed 20 characters</p>
                                               </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="company_id"><strong>Company Id Number</strong></label>
                                            <input   formControlName="company_id"
                                            class=" form-control"
                                            placeholder="Company Id Number"
                                            type="text"
                                            id="company_id"
                                              />

                                              <div *ngIf="ForgetPassword.get('company_id')?.errors != null && ForgetPassword.get('company_id')?.touched" class=" alert alert-danger my-2">
                                                <p  *ngIf="ForgetPassword.get('company_id')?.errors?.required" class=" my-2"> Company ID Is Requierd</p>
                                               </div>
                                        </div>

                                        <div class="text-center">
                                            <button [disabled]="isRequesting" [disabled]="ForgetPassword.invalid" type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>