/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer2 {
    background: #363062;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  #footer2 .footer-top {
    background: #fff;
    border-top: 1px solid #cf85df;
    border-bottom: 3px solid #fff;
    padding: 60px 0 30px 0;
  }
  #footer2 .footer-top .footer-info {
    margin-bottom: 30px;
  }
  #footer2 .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
    color: #363062;
  }
  #footer2 .footer-top .footer-info p {
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 0;
    color: #363062;
  }
  #footer2 .footer-top .social-links a {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    background: #363062;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    cursor: pointer;
  }
  #footer2 .footer-top .social-links a:hover {
    background: #363062;
    color: #fff;
    text-decoration: none;
  }
  #footer2 .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #363062;
    position: relative;
    padding-bottom: 12px;
  }
  #footer2 .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer2 .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer2 .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #363062;
    font-size: 18px;
    line-height: 1;
  }
  #footer2 .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer2 .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer2 .footer-top .footer-links ul a {
    color: #363062;
    transition: 0.3s;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
  }
  #footer2 .footer-top .footer-links ul a:hover {
    color: #363062;
  }
  #footer2 .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #363062;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #454035;
  }
  #footer2 .footer-top .footer-newsletter p {
    font-weight: 500;
    color: #363062;
  }
  #footer2 .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
    background: #fff;
    color: #363062;
    border-radius: 20px;
  }
  #footer2 .footer-top .footer-newsletter form input[type=button] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #363062;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  #footer2 .footer-top .footer-newsletter form input[type=button]:hover {
    background: #363062;
  }
  #footer2 .copyright {
    text-align: center;
    padding-top: 30px;
  }
  #footer2 .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }


  .contact {
    background-color: #fff;
    padding: 60px 0;

  }

  .contact .content h2 {
    font-weight: 600;
    font-size: 36px;
    color: #363062;
  }






  