/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    background-color: #fff;
    padding: 60px 0;

  }

  .contact .content h2 {
    font-weight: 600;
    font-size: 36px;
    color: #363062;
  }
  .contact:before {
    content: "";
    
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
.contact .info {
    width: 100%;
  }
  .contact .info i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #fff;
    color: #363062;
    border-radius: 50%;
    border: solid 1px #363062;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
  }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #bab3a6;
  }
  .contact .info .open-hours, .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  .contact .php-email-form {
    width: 100%;
  }
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .loading {
    display: none;
    text-align: center;
    padding: 15px;
  }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #363062;
    border-top-color: #EEEE;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #fff;
    border-color: #625b4b;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

  }
  .contact .php-email-form input::-moz-placeholder, .contact .php-email-form textarea::-moz-placeholder {
    color: #a49b89;
  }
  .contact .php-email-form input::placeholder, .contact .php-email-form textarea::placeholder {
    color: #a49b89;
  }
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #363062;
  }
  .contact .php-email-form input {
    height: 44px;
    border: solid 1px #363062;
  }
  .contact .php-email-form textarea {
    padding: 10px 12px;
    border: solid 1px #363062;

  }
  .contact .php-email-form button[type=submit] {
    background: #363062;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    border: solid 1px #363062;
  }
  .contact .php-email-form button[type=submit]:hover {
    background: #d3af71;
  }
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .send button{
    border: solid 2px #363062;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.3s;
    line-height: 1.5rem;
    color: white;
    background-color: #363062;
}

.send button:hover{
    border-color: #fff;;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #363062;
    font-family: "Poppins", sans-serif;
  }
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #363062;
    margin: 4px 10px;
  }
  .section-title p {
    margin: 0px;
    font-size: 36px;
    font-weight: 700;
    color: #363062;
  }
  