
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
       <div class="section-title  mt-5">
          <h2 class="py-2">Contact</h2>
          <p>Contact Us</p>
       </div>
    </div>
    <div class="container" data-aos="fade-up">
       <div class="row mt-5">
          <div class="col-lg-4">
             <div class="info">
                <div class="address">
                    <i class="fa fa-location-arrow fa-beat-fade"></i>
                   <h4>Location:</h4>
                   <p style="color: #363062;">Sudia Arabia, Riyadh, KSA</p>
                </div>
      
                <div class="email">
                    <i class="fa fa-envelope fa-beat-fade"></i>
                   <h4>Email:</h4>
                   <p style="color: #363062;"><a class="__cf_email__" data-cfemail="2940474f46694c51484459454c074a4644">m@gmail.com</a></p>
                </div>
                <div class="phone">
                    <i class="fa fa-mobile-phone fa-beat-fade"></i>
                   <h4>Call:</h4>
                   <p style="color: #363062;">+09 **** **** **</p>
                </div>
             </div>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0">
             <form  class="php-email-form">
                <div class="row">
                   <div class="col-md-6 form-group"> <input type="text" name="name" class="form-control p-2" id="name" placeholder="Your Name" required></div>
                   <div class="col-md-6 form-group mt-3 mt-md-0"> <input type="email" class="form-control p-2" name="email" id="email" placeholder="Your Email" required></div>
                </div>
                <div class="form-group mt-3"> <input type="text" class="form-control p-2" name="subject" id="subject" placeholder="Subject" required></div>
                <div class="form-group mt-3"><textarea class="form-control p-2" name="message" rows="8" placeholder="Message" required></textarea></div>
                <div class="my-3">
                   <div class="loading">Loading</div>
                   <div class="error-message"></div>
                   <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center send"><button type="button" class=" btn rounded-pill">Send Message</button></div>
             </form>
          </div>
       </div>
    </div>
 </section>