<ngx-spinner bdColor = "rgba(255, 255, 255, 1)" size = "medium" color = "#8743df" type = "ball-beat" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>




        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">

                
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                  <h4>بيانات تحليلات المنتجات</h4>
  
                  <p class="mb-0">لوحة معلومات الأعمال</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">تحليلات المنتجات</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">لوحة التحكم</a></li>
                </ol>
            </div>
        </div>
  

                <div class="row">
                 
                    <div class="col-xl-4 col-sm-6">
                        <div class="card overflow-hidden">
                            <div class="card-header align-items-start border-0 pb-0 ">
                                <div class="mr-auto">
                                    <h2 class="mb-2 fs-13"><i class="fa fa-caret-down scale5 mr-2 text-danger" aria-hidden="true"></i>
                                        اجمالي السعر</h2>
                                    <h4 class="text-black mb-0 font-w600">{{productDetails?.total_price }}</h4>
                                </div>
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 0.00012207C9.4021 0.00012207 9.15527e-05 9.40213 9.15527e-05 21C9.15527e-05 32.5979 9.4021 41.9999 21 41.9999C32.5979 41.9999 41.9999 32.5979 41.9999 21C41.9871 9.40762 32.5924 0.0129395 21 0.00012207ZM26.9999 30.0001H22.5001V34.4999C22.5001 35.3285 21.8286 36 21 36C20.1714 36 19.4999 35.3285 19.4999 34.4999V30.0001H15.0001C14.1715 30.0006 13.4995 29.3295 13.4991 28.5009C13.4991 28.1599 13.6149 27.8289 13.8282 27.5625L23.8784 15.0001H15.0001C14.1715 15.0001 13.5 14.3286 13.5 13.5C13.5 12.6715 14.1715 11.9999 15.0001 11.9999H19.4999V7.50012C19.4999 6.67157 20.1714 6.00003 21 6.00003C21.8286 6.00003 22.5001 6.67203 22.5001 7.50012V11.9999H26.9999C27.8294 12.0013 28.5005 12.6747 28.4995 13.5037C28.4991 13.8429 28.3833 14.1725 28.1718 14.4375L18.1216 26.9999H26.9999C27.8285 26.9999 28.5 27.6719 28.5 28.5C28.5 29.3286 27.8285 30.0001 26.9999 30.0001Z" fill="#5B5D81"/>
                                </svg>
                            </div>
                            <div class="card-body p-0">
                                <!-- <canvas id="widgetChart3" class="max-h80 mt-auto"></canvas> -->
                                <div class="chart-wrapper">
                                <!-- <canvas  class="max-h80"   #canvas3  baseChart 
                                [datasets]="lineChartData" 
                                [labels]="lineChartLabels" 
                                [options]="lineChartOptions"
                                [colors]="lineChartColors" 
                                [legend]="lineChartLegend" 
                                [chartType]="lineChartType" 
                                
                                >
                            </canvas> -->
                                
                            </div>
                        </div>
                    </div>

     
                   
                </div>

                
                <div class="col-xl-4 col-sm-6">
                    <div class="card overflow-hidden">
                        <div class="card-header align-items-start border-0 pb-0 ">
                            <div class="mr-auto">
                                <h2 class="mb-2 fs-13"><i class="fa fa-caret-up scale5 mr-2 text-success" aria-hidden="true"></i>بيع المنتج</h2>
                                <h4 class="text-black mb-0 font-w600">{{productDetails?.selling_the_product }}</h4>
                            </div>
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.5566 23.893C21.1991 24.0359 20.8009 24.0359 20.4434 23.893L16.6064 22.3582L21 31.1454L25.3936 22.3582L21.5566 23.893Z" fill="#AC4CBC"/>
                                <path d="M21 20.8846L26.2771 18.7739L21 10.3304L15.7229 18.7739L21 20.8846Z" fill="#AC4CBC"/>
                                <path d="M21 0.00012207C9.40213 0.00012207 0.00012207 9.40213 0.00012207 21C0.00012207 32.5979 9.40213 41.9999 21 41.9999C32.5979 41.9999 41.9999 32.5979 41.9999 21C41.9871 9.40762 32.5924 0.0129395 21 0.00012207ZM29.8417 20.171L22.3417 35.171C21.9714 35.9121 21.0701 36.2124 20.3294 35.8421C20.0387 35.697 19.8034 35.4617 19.6583 35.171L12.1583 20.171C11.9253 19.7032 11.9519 19.1479 12.2284 18.7043L19.7284 6.70453C20.2269 6.00232 21.1996 5.83661 21.9018 6.33511C22.0451 6.43674 22.1701 6.56125 22.2717 6.70453L29.7712 18.7043C30.0482 19.1479 30.0747 19.7032 29.8417 20.171Z" fill="#AC4CBC"/>
                            </svg>
                        </div>
                        <div class="card-body p-0">
                            <!-- <canvas id="widgetChart4" class="max-h80 mt-auto"></canvas> -->
                            <div class="chart-wrapper">
                                <!-- <canvas class="max-h80"  #canvas4  baseChart 
                                [datasets]="lineChartData" 
                                [labels]="lineChartLabels" 
                                [options]="lineChartOptions"
                                [colors]="lineChartColors" 
                                [legend]="lineChartLegend" 
                                [chartType]="lineChartType" 
                                
                                >
                            </canvas> -->
                            
                        </div>
                        </div>
                    </div>
                </div>


             
            </div>
        </div>
        </div>